<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>06F53009-C290-41BA-8A9D-F71F9A75E685</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F99FB68-E73B-4F7C-B44C-A77547B3F059</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>07DD3044-B183-4DC6-B965-27552D9FE7D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDEB7FF7-4105-461B-BBCA-CF6D7EE99C00</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F9E27B6-F54C-438E-ADB7-6602517A62BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFA74A11-A933-49A3-A4C9-D28BFC528990</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65A55C52-1E01-434D-B914-876C9C9405A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07DD3044-B183-4DC6-B965-27552D9FE7D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D7AED5F-7675-4D55-988F-A0B9ACABB548</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B3BD1D1-7531-43EC-A911-8CEFB6E074A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D59E5DA-4C6A-4692-B9B5-A8CE75461A92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F9E27B6-F54C-438E-ADB7-6602517A62BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8FB43834-9665-4A11-8388-48C9027A4070</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73E454C2-3A16-4EB9-92A1-BE05CCA8579E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD2A4A16-3C32-4383-9E41-600F05E3102C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E24246DC-CCB1-4DA0-97B6-A0986175CA8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BFA74A11-A933-49A3-A4C9-D28BFC528990</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D7AED5F-7675-4D55-988F-A0B9ACABB548</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1E2EDBF-B392-41E3-ABA1-C84F081E4AD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23593A4E-D8AA-4791-B7DE-017E42C6A970</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Gregor Gilchrist</string>
	<key>description</key>
	<string>Get Last Screenshot to Clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Ledger Live Test Tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash
set -e

if [ $1 = "ledger-live" ]
then
	cp $HOME/Library/Application\ Support/Ledger\ Live/app.json $HOME/dev/app-json-configs/ledger-live-$2.json
	echo Ledger Live app.json copied to $HOME/dev/app-json-configs/
elif [ $1 = "ledger-live-beta" ]
then
	cp $HOME/Library/Application\ Support/Ledger\ Live\ Beta/app.json $HOME/dev/app-json-configs/ledger-live-beta-$2.json
	echo Ledger Live Beta app.json copied to $HOME/dev/app-json-configs/
elif [ $1 = "ledger-live-nightly" ]
then
	cp $HOME/Library/Application\ Support/Ledger\ Live\ Nightly/app.json $HOME/dev/app-json-configs/ledger-live-nightly-$2.json
	echo Ledger Live Nightly app.json copied to $HOME/dev/app-json-configs/
elif [ $1 = "ledger-live-electron" ]
then
	cp $HOME/Library/Application\ Support/Electron/app.json $HOME/dev/app-json-configs/ledger-live-electron-$2.json
	echo Ledger Live Electron app.json copied to $HOME/dev/app-json-configs/
else
	echo Ledger Live app to find not recognised
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2F9E27B6-F54C-438E-ADB7-6602517A62BC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Hero</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>0B3BD1D1-7531-43EC-A911-8CEFB6E074A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>extract-ll-app.json</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Extract Ledger Live app.json</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7D59E5DA-4C6A-4692-B9B5-A8CE75461A92</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>6D7AED5F-7675-4D55-988F-A0B9ACABB548</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BFA74A11-A933-49A3-A4C9-D28BFC528990</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Hero</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>BDEB7FF7-4105-461B-BBCA-CF6D7EE99C00</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>show-ll-electron-folder</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Show Ledger Live Electron Folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>65A55C52-1E01-434D-B914-876C9C9405A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>~/Library/Application\ Support/Electron</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>07DD3044-B183-4DC6-B965-27552D9FE7D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/Library/Application Support/Ledger Live</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>E24246DC-CCB1-4DA0-97B6-A0986175CA8F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>prod-user-data</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Production Ledger Live User Data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BD2A4A16-3C32-4383-9E41-600F05E3102C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>beta-user-data</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Beta Ledger Live User Data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>06F53009-C290-41BA-8A9D-F71F9A75E685</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/Library/Application Support/Ledger Live Beta</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>9F99FB68-E73B-4F7C-B44C-A77547B3F059</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nightly-user-data</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Nightly Ledger Live User Data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8FB43834-9665-4A11-8388-48C9027A4070</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/Library/Application Support/Ledger Live Nightly</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>73E454C2-3A16-4EB9-92A1-BE05CCA8579E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>electron-user-data</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Electron Ledger Live User Data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D1E2EDBF-B392-41E3-ABA1-C84F081E4AD8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/Library/Application Support/Electron</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>23593A4E-D8AA-4791-B7DE-017E42C6A970</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>06F53009-C290-41BA-8A9D-F71F9A75E685</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>485</integer>
		</dict>
		<key>07DD3044-B183-4DC6-B965-27552D9FE7D7</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>0B3BD1D1-7531-43EC-A911-8CEFB6E074A3</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>23593A4E-D8AA-4791-B7DE-017E42C6A970</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>2F9E27B6-F54C-438E-ADB7-6602517A62BC</key>
		<dict>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>65A55C52-1E01-434D-B914-876C9C9405A7</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>6D7AED5F-7675-4D55-988F-A0B9ACABB548</key>
		<dict>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>73E454C2-3A16-4EB9-92A1-BE05CCA8579E</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>605</integer>
		</dict>
		<key>7D59E5DA-4C6A-4692-B9B5-A8CE75461A92</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>8FB43834-9665-4A11-8388-48C9027A4070</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>605</integer>
		</dict>
		<key>9F99FB68-E73B-4F7C-B44C-A77547B3F059</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>485</integer>
		</dict>
		<key>BD2A4A16-3C32-4383-9E41-600F05E3102C</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>BDEB7FF7-4105-461B-BBCA-CF6D7EE99C00</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>BFA74A11-A933-49A3-A4C9-D28BFC528990</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>D1E2EDBF-B392-41E3-ABA1-C84F081E4AD8</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>E24246DC-CCB1-4DA0-97B6-A0986175CA8F</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
