<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>091402D3-9D78-4CF4-A738-593435E2AF85</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>llhq</string>
			<key>text</key>
			<string>LedgerHQ Github</string>
			<key>url</key>
			<string>https://github.com/LedgerHQ</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>108F94DF-A2C1-4AD0-95A8-296C9E94891C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>llcli-commands</string>
			<key>text</key>
			<string>Ledger Live CLI commands</string>
			<key>url</key>
			<string>https://github.com/LedgerHQ/ledger-live-common/tree/master/cli</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>12C1185E-05B4-4D62-8EB3-34EB8D64A73E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>live-assets</string>
			<key>text</key>
			<string>Ledger Live Assets</string>
			<key>url</key>
			<string>https://github.com/LedgerHQ/ledger-live-assets/tree/develop/platform</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>18F3CD47-BF7C-491B-86DC-00AE159176ED</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>lofi</string>
			<key>text</key>
			<string>Lofi Beats</string>
			<key>url</key>
			<string>https://www.youtube.com/watch?v=5qap5aO4i9A</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1950CDBB-B062-46DA-A768-2BDCAB0C55B8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>monorepo</string>
			<key>text</key>
			<string>Ledger Live Monorepo</string>
			<key>url</key>
			<string>https://github.com/LedgerHQ/ledger-live</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1B6864EA-8350-427D-8683-62DF8F3ED4B2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>standup</string>
			<key>text</key>
			<string>Daily Standup</string>
			<key>url</key>
			<string>https://meet.google.com/etz-ibeu-pie</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1C430E08-4B41-4DD3-B9BA-107A46C38B34</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>llc</string>
			<key>text</key>
			<string>Ledger Live Common</string>
			<key>url</key>
			<string>https://github.com/LedgerHQ/ledger-live-common</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1D6A5BF8-D4BF-4769-A760-743EFA7FE8DC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sprint</string>
			<key>text</key>
			<string>All Ledger Live Sprints</string>
			<key>url</key>
			<string>https://ledgerhq.atlassian.net/secure/RapidBoard.jspa?rapidView=277</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>29983E09-2E2D-4EAF-B990-49A125703559</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>inspect</string>
			<key>text</key>
			<string>Inspect Logging</string>
			<key>url</key>
			<string>brave://inspect/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>29B759DA-9DCE-4616-B17A-BD9D0594824D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nightly-releases</string>
			<key>text</key>
			<string>Ledger Live Desktop Nightly Releases</string>
			<key>url</key>
			<string>https://github.com/LedgerHQ/ledger-live-desktop-nightly/releases</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>369E2AEB-F70C-45A2-BAE9-557217DDCFD6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>qa-docs</string>
			<key>text</key>
			<string>Ledger Live QA Documentation</string>
			<key>url</key>
			<string>https://ledgerhq.atlassian.net/wiki/spaces/WALLETCO/pages/2666397962/Ledger+Live+QA+doc</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>427B59A1-51A9-40E6-B277-B60EAB8FF542</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>detox-docs</string>
			<key>text</key>
			<string>Detox Docs</string>
			<key>url</key>
			<string>https://wix.github.io/Detox/docs/introduction/getting-started</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4CBD1A00-5AAA-4FF6-A123-66D7E81C5564</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>llm</string>
			<key>text</key>
			<string>Ledger Live Mobile</string>
			<key>url</key>
			<string>https://github.com/LedgerHQ/ledger-live-mobile</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>753BD51E-A3BE-416F-B591-15D2F9A6F662</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>qagh</string>
			<key>text</key>
			<string>Ledger QA Tagged PRs</string>
			<key>url</key>
			<string>https://github.com/pulls?q=is%3Aopen+is%3Apr+user%3ALedgerHQ+archived%3Afalse+label%3AQA</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>757555FB-436A-4273-BDF9-C3CE5076F4E9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>latest-next-lld</string>
			<key>text</key>
			<string>Download next release LLD</string>
			<key>url</key>
			<string>https://download.live.ledger.com/next/mac</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7BE1F4EE-3A14-4072-92B9-F935CC56BDC7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>typing</string>
			<key>text</key>
			<string>Typing Practice</string>
			<key>url</key>
			<string>https://www.typingclub.com/sportal/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>825FF266-8E68-4DB2-AFD3-9AFAFE3F155D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>latest-nightly-lld</string>
			<key>text</key>
			<string>Download Latest Nightly LLD (develop)</string>
			<key>url</key>
			<string>https://download.live.ledger.com/nightly/mac</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>83BC5324-3A3A-4764-BFA2-11C30590BF85</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>osmo</string>
			<key>text</key>
			<string>Osmosis</string>
			<key>url</key>
			<string>https://app.osmosis.zone</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8C3F81F4-DB22-4413-91A5-541862735F2C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ll-explorers</string>
			<key>text</key>
			<string>Ledger Live Explorer Versions</string>
			<key>url</key>
			<string>https://explorer-v3.aws.prd.ldg-tech.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9A75BE97-5BE7-414E-A782-9EF6EC1A6D33</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>latest-release-lld</string>
			<key>text</key>
			<string>Download Latest LLD release</string>
			<key>url</key>
			<string>https://download.live.ledger.com/latest/mac</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A791E84F-E691-49E5-937A-2602588EABDB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>taproot-board</string>
			<key>text</key>
			<string>Taproot Board</string>
			<key>url</key>
			<string>https://ledgerhq.atlassian.net/jira/software/c/projects/LL/boards/361</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AC8F3833-B44B-4187-A1C4-BF3AA27DF2CC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mempool</string>
			<key>text</key>
			<string>BTC Mempool Explorer</string>
			<key>url</key>
			<string>https://mempool.space/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B2D98B4C-77E7-47A1-981C-B33B29962152</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>qa-board</string>
			<key>text</key>
			<string>Ledger Live QA Jira Board</string>
			<key>url</key>
			<string>https://ledgerhq.atlassian.net/jira/software/projects/B2CQA/boards/360</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B941FC24-5D77-4740-87FA-BD35ED55DD26</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>aphex</string>
			<key>text</key>
			<string>Avril 14th Looped</string>
			<key>url</key>
			<string>https://www.youtube.com/watch?v=4OqqUDqDdJ8&amp;t=959s</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CE934C03-3EA9-4C4B-B3FD-9A1DC3D70F50</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>figma</string>
			<key>text</key>
			<string>LL - Figma</string>
			<key>url</key>
			<string>https://www.figma.com/files/849318572667742552/recent?fuid=1001833231219666631</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CFEAFAFC-86B8-4088-90C1-EB8EFCEBF91E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>lld</string>
			<key>text</key>
			<string>Ledger Live Desktop</string>
			<key>url</key>
			<string>https://github.com/LedgerHQ/ledger-live-desktop</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D4D7FBFE-A274-4CE7-A3BF-71D58B982953</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>trade-asset-list</string>
			<key>text</key>
			<string>Ledger CDN Trade Asset List</string>
			<key>url</key>
			<string>https://cdn.live.ledger.com/platform/trade/v2/data.json</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D821BE73-1B19-4DF9-9352-CC4219D69783</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>coin</string>
			<key>text</key>
			<string>CoinMarketCap</string>
			<key>url</key>
			<string>https://coinmarketcap.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DBA226A7-0C92-4DBC-B6D4-8D689B40B55D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>slack-shortcuts</string>
			<key>text</key>
			<string>Slack Shortcuts Cheatsheet</string>
			<key>url</key>
			<string>https://slack.com/intl/en-gb/help/articles/201374536-Slack-keyboard-shortcuts</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E0E5412D-48E0-49EB-8275-8827EA277391</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ledger-docs</string>
			<key>text</key>
			<string>Ledger Docs</string>
			<key>url</key>
			<string>https://support.ledger.com/hc/en-us/categories/4404376139409-Documentation-?docs=true</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E1B23B00-7B12-46C4-A4A4-E2E6574D9824</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>platform-jira-board</string>
			<key>text</key>
			<string>Platform &amp; Services Jira Board</string>
			<key>url</key>
			<string>https://ledgerhq.atlassian.net/jira/software/c/projects/LIVE/boards/576/backlog?epics=visible&amp;issueLimit=100</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>EBCF4A25-4BAE-4037-836A-277AAB0FE486</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>logs-viewer</string>
			<key>text</key>
			<string>Ledger Logs Viewer</string>
			<key>url</key>
			<string>https://live.ledger.tools/logsviewer</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FF2AA809-3399-43DB-AD4A-9B3AFFA7D371</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>notion</string>
			<key>text</key>
			<string>Notion</string>
			<key>url</key>
			<string>https://www.notion.so/Random-Notes-1c786a5f1a1d4eb19c34163f0e18072f</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
